header{
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 0%;
}
.apprendre{
    display: flex;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
}
button{

    background-color: rgb(214, 12, 12);
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 8px;
    color: #f0f0f0;
    gap: 10px;
}
a{
    justify-content: space-between;
    text-decoration: none;
    margin: 10px;
}
.boxes{
    background-color: #FAF3E9;
}
.boxes{
    display: flex;
  
    padding-right: 20px;
  
   
}
.firstbox{
    border: 1px solid #ddd;
    border-radius: 8px;

    width: 300px;
    text-align: center;
    margin: 90px;
}
.coder{
    display: flex;
    background-color: #282C34;
     padding-top: 60px;   
     padding-bottom: 60px; 
     padding-left: 120px;
     padding-right: 120px;

}
.rightside{
    color: #ddd;
    margin: 10px;
}
.image{
    padding-right: 25px;
}
.centrer{
    text-align: center;
}
.second{
    display: flex;
    background-color:  #FAF3E9;
    justify-content: space-between;
    border: 1px solid #ddd;
    margin: 20px;
    border-radius: 2px;
    height: 30px;
    text-align: center;
    width: 200px;
    

}
.seconds{
    display: flex;
    text-align: center;
    align-items: center;
    
}
.voir{
    color: red;
}
span{
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
    margin: 20px;
    border-radius: 8px;
    height: 50px;
    text-align: center;
    width: 120px;
    
}
.message{

  display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
    margin: 20px;
    border-radius: 8px;
    height: 50px;
    text-align: center;
    width: 80%; 
}
.right{
    padding: 10px 15px;
}
.inscription{
    background-color:#FAF3E9; 
}
.span{display: flex;}
footer{
    align-items: center;
    text-align: center;
    margin-top: 40px;
}
.source{
  width: 100px;  
}
body{
   
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
form{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    padding: 20px;
    gap: 10px;
}
input{
    width: 100%;
    height: 30px;
    border: 1px solid rgb(141, 138, 138);
    border-radius:4px;
}
textarea{
    border: 1px solid rgb(141, 138, 138);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 100%%;

}
.button{
    width: 100px;
    height: 30px;
    border: none;
    background-color: rgb(255, 8, 8);
    border-radius: 8px;
    color: #f0f0f0;
    gap: 10px;
    
    
    }
.formitems{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.item{
    display: flex;
    flex-direction: row;
    gap: 50px;

    
}
.messa{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.ghap{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.but{
    display: flex;
    justify-content: end;
}
.container-grid{
    display: grid;
    grid-template-columns:repeat(9,1fr) ;
    grid-template-rows:repeat( 3,1fr);
  
    gap: 20px;
 
    
}
.container-grid div:nth-child(1){
 
  
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1/4;
    grid-column: 1/4;
  
}
.container-grid div:nth-child(2){
 
  
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1/4;
    grid-column: 4/7;

}
.container-grid div:nth-child(3){
 
  
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1/4;
    grid-column: 7/10;
   
}
.item{
    background-color:#FAF3E9; 
}
body{
    padding: 20px;
}





